Package: simple-sudo
Architecture: all
Maintainer: Rem01Gaming
Installed-Size: 1200
Version: 1.0.0
Homepage: https://github.com/Rem01Gaming/simple_sudo
Description: Lite version of tsu, very minimal sudo
